
graphiti-core[falkordb]==0.17.3
cupy-cuda11x ; platform_machine == "aarch64" # AGX Orin
cupy-cuda12x ; platform_machine != "aarch64" # A100/Colab
opencv-python-headless
pandas
scipy
llama-cpp-python
